.container {
  display: flex;

  width: 480px;
  max-width: 100%;
  height: 100vh;

  margin-left: auto;
  margin-right: auto;

  flex-flow: column;
  align-items: stretch;
}

.renderer {
  flex-grow: 0;
}

.controls {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: space-between;
}

.controls button {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  border: 0;
  background: transparent;
}
.controls button:focus {
  outline:0;
}

.controls .active {
  background: #f7f9f9;
  border: 1px solid #d5e0e0;
}

.controls .up {
  top: 10px;
  left: 35%;
}

.controls .down {
  bottom: 10px;
  left: 35%;
}

.controls .left {
  left: 10px;
  top: 35%;
}

.controls .right {
  right: 10px;
  top: 35%;
}
