.controls {
  position: relative;
  width: 480px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 305px;
}

.controls button {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border: 0;
  background: transparent;
}

.controls .up {
  top: 0;
  left: 30vw;
}

.controls .down {
  bottom: 0;
  left: 30vw;
}

.controls .left {
  left: 0;
  top: 20vw;
}

.controls .right {
  right: 0;
  top: 20vw;
}
